@import url('https://fonts.googleapis.com/css?family=Poppins:900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
}

.wrapper {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RGBsplit {
  text-align: center;
  font-size: 96pt;
  font-size: 2.5vw;
  color: rgb(0, 0, 255);
}

.RGBsplit::after {
  position: absolute;
  content: attr(data-text);
  left:0px;
  transform: translate(5px, 5px);
  mix-blend-mode: screen;
  color: rgb(0, 255, 0);
  width: 100%;
}

.RGBsplit::before {
  position: absolute;
  content: attr(data-text);
  left: 0px;
  transform: translate(-5px, -5px);
  mix-blend-mode: screen;
  color: rgb(255, 0, 0);
  width: 100%;
}

.RGBsplit2 {
  text-align: center;
  font-size: 48pt;
  font-size: 1.5vw;
  color: rgb(0, 0, 255);
}

.RGBsplit2::after {
  position: absolute;
  content: attr(data-text);
  left:0px;
  transform: translate(5px, 5px);
  mix-blend-mode: screen;
  color: rgb(0, 255, 0);
  width: 100%;
}

.RGBsplit2::before {
  position: absolute;
  content: attr(data-text);
  left: 0px;
  transform: translate(-5px, -5px);
  mix-blend-mode: screen;
  color: rgb(255, 0, 0);
  width: 100%;
}
